.footer {
  background-color: #262d34;

  /*margin-top: 50px;
  background-size: cover;
  padding: 50px 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  */
}
.footer-content {
  /*max-width: 750px;*/
  color: #85898f;
}
